<!DOCTYPE html>
<html>
<head>
  <title>PearTree</title>
  <meta name="viewport" content="initial-scale=1.4, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" href="css/jquery.mobile-1.2.0.css" />
  <link rel="stylesheet" href="css/main.css" />
  <script src="../forge/all.js"></script> <!-- For quick iteration -->
  <script src="js/jquery-1.8.3.js"></script>
  <script src="js/jquery.mobile-1.2.0.js"></script>
  <script src="js/jquery-ui-1.9.1.custom.js"></script>
  <script src="js/jquery.ui.touch-punch.js"></script>
  <script src="js/overthrow.js"></script>
  <script src="js/json2.js"></script>
  <script src="js/underscore.js"></script>
  <script src="js/backbone.js"></script>
  <script src="js/backbone.marionette.js"></script>
  <script src="js/parse-1.1.11.js"></script>
  <script src="js/backbone-filtered-collection.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</head>
<body>

<div data-role="page">

  <div data-role="header">
    <h1>PearTree: Find a Shed</h1>
  </div><!-- /header -->

  <div data-role="content">
    <div class="landscape-container"></div>
    <div class="below-landscape-container">
      <div class="collection-toolbar ui-bar-a">
        <div class="collection-toolbar-item collection-toolbar-item-new">
          <a data-role="button" data-inline="true" id="item-new">Add New Item</a>
        </div>
        <div class="collection-toolbar-item collection-toolbar-item-search">
          <input type="search" name="search" id="collection-search" value="" />
          <!-- <div data-role="fieldcontain">
            <label for="collection-search">
              Search by Name:
            </label>
            <input type="search" name="search" id="collection-search" value="" />
          </div> -->
        </div>
      </div>
      <div id="item-table-container" class="item-table-container overthrow">
        <table id="item-table">
          <thead>
            <tr>
              <td class="item-drag-handle"></td> <!-- Drag to a location -->
              <td>Name</td>
              <td>Location</td>
              <td class="item-remove"></td>
            </tr>
          </thead>
          <tbody>
            <script type="text/template" id="item-template" tagname="tr">
              <td class="item-drag-handle">||</td>
              <td class="item-name">
                <% if (editing) { %>
                  <input type="text" name="name" class="name-input" value="<%= name %>"></input>
                <% } else { %>
                  <%= name || "Press and hold to set a name!" %>
                  <a class="edit-button">&#9998;</a>
                <% } %>
              </td>
              <td class="item-location">
                <%= locationName || "Drag the bars at left to set a location!" %>
              </td>
              <td class="item-remove">&#9746</td>
            </script>
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- /content -->

  <div data-role="footer">
    <h4>
      Made with love by your grandkids :)
    </h4>
  </div><!-- /footer -->

</div><!-- /page -->

</body>
</html>
